.navbar-brand::before{
  content:'';
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url('./../assets/images/angular.png')no-repeat;
  background-size: 100%;
  position: absolute;
  left: 5px;
  right:5px;
  top: 10px;
}

a.navbar-brand {
    padding-left: 35px;
}

.showForm>button{
  margin-bottom: 20px;
  border-radius: 25px;
}


button:focus{
  outline: none !important;
}
@media screen and (max-width: 736px){
  .showForm{
    margin-bottom: 50px;
  }
  .showForm>button{
    margin-bottom: 20px;
    border-radius: 25px;
    z-index: 1;
  }
}
