.label{
    display: inline-block;
}
.thumbnail{
    min-height: 450px;
}

.btn{
    border-radius: 25px;
}

.glyphicon {
    color: green;
}

.glyphicon-ok,
.glyphicon-remove{
    color: #fefefe;
}
p{
    font-size: 1.5rem;
}

.thumbnail[_ngcontent-c3]{
  max-width: 85%;
  margin: 0 auto;
}
